<% if user_signed_in? %>
<h1> POST on REACTION </h1>
<ul>
  <% @posts.each do |post| %>
    <li>
    <a href= <%= post_path(post)%>>
    <%= post.title %>
    </li>
  <% end %>
</ul>
<%= link_to "New Post", new_post_path %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= button_to "Sign in", new_user_session_path %>
<% end %>