<% if user_signed_in? %>
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
  <p><%= @post.created_at %></p>
  <p>
    <% if @post.status %>
      Post is Public
    <% else %>
      Post is Private
    <% end %>
  </p>

  <h2>Comments</h2>
  <div id="comments" data-post-id="<%= @post.id %>" data-comments-url="<%= post_comments_path(@post) %>">
    <%= render partial: 'comments', locals: { comments: @post.comments, post: @post } %>
  </div>

  <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    <div class="actions">
      <%= form.submit "Add Comment" %>
    </div>
  <% end %>

  <ul>
    <li><%= link_to "Edit", edit_post_path(@post) %></li>
    <li><%= link_to "Destroy", post_path(@post),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
